body, .input-section {
  margin: 0;
}

.main-page-form {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page--title {
  font-size: 1.25em;
  font-family: OpenSansBold;
}

.main-page--subtitle {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: OpenSans;
}

.main-page--description {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
  line-height: 1.95em;
  font-family: OpenSans;
}

.main-page--input-section {
  margin: 2em 0 2em 0
}

.main-page--input-div {
  display: flex;
  flex-direction: column;
  width: 11.3em;
  height: 4.6em;
  margin: .5em 0 0 0;
}

.main-page--input-div > input {
  height: 2.8em;
}

.main-page--input-sign-in {
  margin: 0;
}

.main-page--input-label {
  font-family: OpenSans;
  font-size: 0.7em;
  line-height: 0.85em;
  letter-spacing: 1.65px;
  margin-bottom: 0.25em;
}

.main-page--forgot-password {
  margin: 0;
  font-size: 0.7em;
  font-family: OpenSans;
}

.main-page--connect-with {
  font-size: 0.75em;
  letter-spacing: 0.2em;
}

.main-page--connect-with a {
  text-decoration: none;
}

.main-page--sign-in-text {
  border-top: var(--sign-in-border);
  font-weight: 500;
  font-size: .7em;
  text-align: center;
  padding-top: .7em;
  width: 10.7em
}

.main-page--request-error {
  color: red
}
