:root {
  --skyblue-bg-color: #2FBCF7;
  --white-pannel-bg-color: #ffffff;
  --submit-btn-bg-color: #000000;
  --submit-btn-color: #ffffff;
  --error-message-color: #red;
  --submit-button-border: 1px solid black;
}

@font-face {
  font-family: OpenSansBold;
  src: url('../../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('../../assets/fonts/OpenSans-Regular.ttf');
}
